.calendar-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 4 0 auto;

    background: red;
    padding: 0 40px;
    color: #fff;
}

.weeksContainer,
.day-name-container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.weeksContainer {
    flex: 120 1 auto;
}

.day-name-container {
    flex: 1 1 auto;
    background: #F7817E;
}

.weeksContainer .day,
.weeksContainer .last-month-overflow,
.day-name-container .day-name
{
    width: 12.28%;
    flex: 1 auto;
    padding: 1%;
}

.weeksContainer .day {
    background: lightgray;
    border-top: 1px solid grey;
}

.selected {
    background: #358ADD;
}

